body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex: 1 auto;
}

.fixed-text {
  text-align: right;
  width: 55%;
}

.switch-text {
  width: 45%;
  text-align: left;
  color: orange;
  padding-left: 12px;
}

.switch-text h1 {
  transition: all 0.3s ease-in-out;
}

.switch-text h1.in {
  animation: slide-in 0.2s;
}

.switch-text h1.out {
  transform: translateX(1000px);
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

