/**
 * DINO FONT!
 */
@font-face {
  font-family: 'jurassic_parkregular';
  src: url('./font/jurassic_park.woff2') format('woff2'),
       url('./font/jurassic_park.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * And the rest...
 */
html {
  font-size: 16px;
}

body {
  background-color: black;
  font-family: 'jurassic_parkregular';
  color: #fff;
  margin: 0;
  padding: 0;
}

.back-image {
  width: 200px;
}

button.start {
  font-family: 'jurassic_parkregular';
  font-size: 3rem;
  margin: 30px 0;
  transition: all 0.2s ease-in;
  outline: 0;
  border: 5px solid #daa32d;
  padding: 10px 20px;
  background-color: #980613;
  color: #fff;
  border-radius: 15px;
}

button.start:hover {
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 5px solid #980613;
  transform: scale(1.1);
}

h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 0 0 20px 0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  perspective: 1000px;
  position: relative;
  width: 850px;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: space-between;
}

#cards.animate {
  animation: shuffle 0.5s;
}

@keyframes shuffle {
  0% {
    transform: rotateX(180deg);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  position: relative;
  width: 270px;
  height: 420px;
  transition: 0.6s;
  transform-style: preserve-3d;
  text-align: center;
  color: #333;
  font-size: 6rem;
  line-height: 0.7;
}

.card.flip {
  transform: rotateY(180deg);
}

.front, .back {
  border-radius: 15px;
  border: 10px solid #980613;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 400px;
}  

.front {
  z-index: 2;
  background-color: rgb(218, 163, 45);
  transform: rotateY(0deg);
}

.back {
  z-index: 1;
  background-color: #fff;
  transform: rotateY(180deg);
}

.overlay {
  transition: all 0.2s ease-in-out;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 8rem;
}

.overlay.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}