html, body {
    height: 100%;
    font-family: 'Comfortaa';
}

html {
    font-size: 16px;
}

body {
    background-color: black;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: lightgreen;
}

#display {
    font-size: 3rem;
    color: white;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.secondsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#secondsContainer {
    font-size: 1rem;
    color: white;
}

#secondsContainer.active {
    animation: pulse 1s infinite
}

@keyframes pulse {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#spinner.active {
    position: absolute;
    animation: spin 1s linear infinite;
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 100%;
    border-color: #cdf714 #444 #444 #444;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}