@mixin activeColour($color) {
    background-color: $color;

    &.active {
        background-color: lighten($color, 20%);
    }
}

$green: #289633;
$red: #a52517;
$yellow: #cac331;
$blue: #1972ad;


html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    background-color: #eee;
    margin: 0;
    text-align: center;
    font-family: 'Courier new';
}

#flash-message {
    padding-bottom: 40px;
}

.outer-wrapper {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 5px 10px #444;
    background-color: #444;
    border-radius: 50%;
    overflow: hidden;
}

.center {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #444;
    top: 75px;
    left: 75px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: #ddd;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
}

.quadrant {
    width: 140px;
    height: 140px;
    position: absolute;
}

#top-left {
    border-radius: 0 10px;
    top: 0;
    left: 0;
    @include activeColour($green);
}

#top-right {
    border-radius: 10px 0;
    top: 0;
    right: 0;
    @include activeColour($red);
}

#bottom-left {
    border-radius: 10px 0;
    bottom: 0;
    left: 0;
    @include activeColour($yellow);
}

#bottom-right {
    border-radius: 0 10px;
    bottom: 0;
    right: 0;
    @include activeColour($blue);
}

.checkbox {
    position: relative;
    height: 20px;
    width: 20px;

    input[type='checkbox'] {
        visibility: hidden;
    }

    input[type='checkbox'] + label {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 0px;
        left: 0px;
        background-color: red;
        border-radius: 100%;
        cursor: pointer;
    }

    input[type='checkbox'] + label:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        top: 0px;
        left: 0px;
        background-color: green;
        border-radius: 100%;
        opacity: 0;
    }

    input[type='checkbox']:checked + label:before {
        opacity: 1;
    }
}

