html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    margin: 20px;
    text-align: center;
    font-family: 'Courier new';
}

h1 {
    color: lightgreen;
}

#display {
    font-size: 3rem;
    color: white;
}
