html {
  font-size: 30px;
}

body {
  background-color: black;
  margin: 20px;
}

h1 {
  font-size: 2rem;
}

#el {
  max-width: 1000px;
  font-size: 1rem;
}

h1, #el {
  color: lightgreen;
  font-family: 'Courier new';
  font-weight: 300;
}

#el:after {
  content: '';
  background: lightgreen;
  margin: 0 0 -5px 0;
  width: 2px;
  height: 25px;
  display: inline-block;
}

#el.blink:after {
  content: '';
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
